body {
  font-family: "Helvetica", sans-serif;
  display: flex;
  height: 100vh;
  line-height: 1.6;
  margin: auto;
  background-image: radial-gradient(circle at 46% 40%, rgba(228, 228, 228, 0.06) 0%, rgba(228, 228, 228, 0.06) 13%, transparent 13%, transparent 100%),
    radial-gradient(circle at 11% 41%, rgba(198, 198, 198, 0.06) 0%, rgba(198, 198, 198, 0.06) 19%, transparent 19%, transparent 100%),
    radial-gradient(circle at 52% 23%, rgba(14, 14, 14, 0.06) 0%, rgba(14, 14, 14, 0.06) 69%, transparent 69%, transparent 100%),
    radial-gradient(circle at 13% 85%, rgba(148, 148, 148, 0.06) 0%, rgba(148, 148, 148, 0.06) 44%, transparent 44%, transparent 100%),
    radial-gradient(circle at 57% 74%, rgba(232, 232, 232, 0.06) 0%, rgba(232, 232, 232, 0.06) 21%, transparent 21%, transparent 100%),
    radial-gradient(circle at 59% 54%, rgba(39, 39, 39, 0.06) 0%, rgba(39, 39, 39, 0.06) 49%, transparent 49%, transparent 100%),
    radial-gradient(circle at 98% 38%, rgba(157, 157, 157, 0.06) 0%, rgba(157, 157, 157, 0.06) 24%, transparent 24%, transparent 100%),
    radial-gradient(circle at 8% 6%, rgba(60, 60, 60, 0.06) 0%, rgba(60, 60, 60, 0.06) 12%, transparent 12%, transparent 100%),
    linear-gradient(260deg, rgb(254, 63, 255), rgb(1, 91, 151));
}
.width-500 {
  width: 500px;
}
.height-400 {
  width: 400px;
}
.flip-card {
  background-color: transparent;
  /* perspective: 1000px; */
  perspective-origin: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card-inner-rotateY {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/* Style the header */
.product-header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
}

/* Clear floats after the header */
.product-header:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  float: left;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.add-btn {
  padding: 7px 15px;
  background: #d9d9d9;
}
.add-task-btn {
  padding: 7px 15px;
  background: #fff;
}
.btn:hover {
  background-color: #bbb;
}
.task-input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 82%;
  padding: 10px;
  float: left;
  font-size: 16px;
  outline: none;
}
.br-bottom-2-fff {
  border-bottom: solid 2px #fff;
}
.br-top-2-fff {
  border-top: solid 2px #fff;
}
.truncate-text {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.login-model {
  min-width: 200px;
  width: 50%;
  max-width: 50%;
  background-color: rgb(243, 243, 243);
  box-shadow:0px 0px 10px  #fffdff;
}
.login-com{
  min-width: 200px;
  width: 50%;
  max-width: 50%;
}
.MuiFormControl-root{
  margin: 10px!important;
}